/*
colors palette:
  #070707
  #40434E
  #C297B8
  #FDCFF3
  #DE89BE
  #f44336 
  */

/* ---- For mobile phones: ---- */

@media (max-width: 700px) {

    * {
      font-family: Arial, Helvetica, sans-serif;
      box-sizing: border-box;
      /* display: block; */
      text-decoration: none;
      outline: none;
    }
  
    head {
      height: 0vh;
    }
  
    body {
      background-color: #070707;
      color: #FDCFF3;
      margin: 0;
    }
  
    a {
      /* * background-color: #603956;  */
      -webkit-animation: color-change-3x 2s linear infinite alternate both;
      animation: color-change-3x 2s linear infinite alternate both;
    }
  
    /* background gradient animation  */
    @-webkit-keyframes color-change-3x {
      0% {
        color: #301d2b;
      }
  
      50% {
        color: #603956;
      }
  
      100% {
        color: #FDCFF3;
      }
    }
  
    @keyframes color-change-3x {
      0% {
        color: #301d2b;
      }
  
      50% {
        color: #603956;
      }
  
      100% {
        color: #FDCFF3;
      }
    }
  
    #social {
      position: fixed;
      font-size: 3vh;
      top: 0;
      /* overflow: hidden; */
      /* white-space: nowrap; */
      background: #070707;
      padding: 2vh;
      width: 100%;
      border-color: #40434E;
      border-style: dotted;
      border-radius: 10%;
    }
  
    #social:hover {
      font-family: serif;
      color: #FDCFF3;
    }
  
    .icon {
      width: 10vw;
    }
  
    #box {
      margin: 12vh 3vw 3vw 2vh;
      padding: 3%;
      border-color: #40434E;
      border-style: dotted;
      border-radius: 10%;
      text-align: center;
      font-size: 6vw;
    }
  
    #reading {
      margin: 2vh 3vw 3vw 2vh;
      border-color: #40434E;
      border-style: dotted;
      /* left:26vw ;
      top:15vh; */
      width: auto;
      height: auto;
      padding: 3%;
      /* resize: horizontal; */
      overflow: auto;
      letter-spacing: 0.1vw;
      /* position: fixed; */
      border-radius: 15%;
      /* margin-left: 0.25vw;
      margin-top: 0.5vh; */
      line-height: 1.5;
    }
  
    #project_link {
      font-size: 5vw;
      padding-top: 2VH;
      padding-bottom: 3vh;
      border-color: #40434E;
      border-style: dotted;
      border-radius: 10%;
      margin: 2vh 3vw 3vw 2vh;
      overflow: visible;
    }
  
    #author {
      font-weight: bold;
    }
  
    #pagetolast {
      position: relative;
      bottom: 0;
      margin: 2vh 0 5vh 0;
      text-align: center;
      width: auto;
      display: block;
      font-size: 6vw;
    }
  
    a {
      color: #DE89BE;
    }
  
    a:hover {
      font-family: serif;
      color: #FDCFF3;
    }
  
    .resize {
      display: none;
    }
  
  
    /* floating question mark animation */
    #qm {
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      color: #DE89BE;
      /* display: block; */
  
      text-align: center;
      margin: 0;
      font-size: 10vh;
      -webkit-animation-name: spinner;
      -webkit-animation-timing-function: linear;
      -webkit-animation-iteration-count: infinite;
      -webkit-animation-duration: 6s;
      animation-name: spinner;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      animation-duration: 6s;
      -webkit-transform-style: preserve-3d;
      -moz-transform-style: preserve-3d;
      -ms-transform-style: preserve-3d;
      transform-style: preserve-3d;
    }
  
    /* WebKit and Opera browsers */
    @-webkit-keyframes spinner {
      from {
        -webkit-transform: rotateY(360deg) rotateX(0deg) rotateZ(0deg);
      }
  
      to {
        -webkit-transform: rotateY(-360deg) rotateX(360deg) rotateZ(360deg);
      }
    }
  
    @keyframes spinner {
      from {
        -moz-transform: rotateY(360deg) rotateX(0deg) rotateZ(0deg));
        -ms-transform: rotateY(0deg) rotateX(0deg) rotateZ(0deg));
        transform: rotateY(0deg) rotateX(0deg) rotateZ(0deg);
      }
  
      to {
        -moz-transform: rotateY(-360deg) rotateX(360deg) rotateZ(360deg);
        -ms-transform: rotateY(360deg) rotateX(360deg) rotateZ(360deg);
        transform: rotateY(360deg) rotateX(360deg) rotateZ(360deg);
      }
    }
  }
  
  /* ---- For desktop: ---- */
  
  
  @media (min-width: 700px) {
  
    * {
      font-family: Arial, Helvetica, sans-serif;
      box-sizing: border-box;
      /* display: block; */
      text-decoration: none;
      outline: none;
    }
  
    head {
      height: 0vh;
    }
  
    body {
      background-color: #070707;
      color: #FDCFF3;
      margin: 0;
      display: block;
    }
  
    #box {
      border-color: #40434E;
      border-style: dotted;
      left: 0;
      top: 0;
      width: 25vw;
      height: 80vh;
      padding: 2vw;
      /* resize: horizontal; */
      overflow: auto;
      letter-spacing: 0.1vw;
      position: fixed;
      border-radius: 8%;
      margin-left: 0.25vw;
      margin-top: 0.5vh;
    }
  
    #reading {
      border-color: #40434E;
      border-style: dotted;
      left: 26vw;
      top: 15vh;
      width: 25vw;
      height: auto;
      padding: 1.5vw;
      /* resize: horizontal; */
      overflow: auto;
      letter-spacing: 0.1vw;
      position: fixed;
      border-radius: 15%;
      /* margin-left: 0.25vw;
      margin-top: 0.5vh; */
      line-height: 1.5;
    }
  
    #author {
      font-weight: bold;
      color: #f44336;
    }
  
    #project_link {
    
      outline: 0;
      width: auto;
      height: 100%;
      top: 0;
      right: 0;
      padding-top: 2vh;
      padding-right: 2vw;
      position: fixed;
      color: #d1d1d1;
      text-align: right;
      font-size: 4vw;
      border-color: #40434E;
      border-style: dotted;
      border-radius: 15%;
      overflow: auto;
    }
  
    #social {
      position: fixed;
      font-size: 2vh;
      top: 2vh;
      left: 26vw;
      padding: 0.5%;
      overflow: hidden;
      white-space: nowrap;
      border-color: #40434E;
      border-style: dotted;
      border-radius: 20%;
    }
  
    #social:hover {
      font-family: serif;
      color: #FDCFF3;
    }
  
    .icon {
      width: 4vw;
      margin: 0.1vw;
    }
  
    a {
      color: #DE89BE;
      width: 100%;
    }
  
    a:hover {
      font-family: serif;
      color: #FDCFF3;
    }
  
    mark {
      background-color: #40434E;
      color: #FDCFF3;
    }
  
    #pagetolast {
      position: fixed;
      bottom: 0;
      margin: 1%;
      width: auto;
    }
  
    #qm {
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      color: #DE89BE;
      text-align: center;
      margin: 0;
      font-size: 5vw;
      -webkit-animation-name: spinner;
      -webkit-animation-timing-function: linear;
      -webkit-animation-iteration-count: infinite;
      -webkit-animation-duration: 6s;
      animation-name: spinner;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      animation-duration: 6s;
      -webkit-transform-style: preserve-3d;
      -moz-transform-style: preserve-3d;
      -ms-transform-style: preserve-3d;
      transform-style: preserve-3d;
    }
  
    /* WebKit and Opera browsers */
    @-webkit-keyframes spinner {
      from {
        -webkit-transform: rotateY(360deg) rotateX(0deg) rotateZ(0deg);
      }
  
      to {
        -webkit-transform: rotateY(-360deg) rotateX(360deg) rotateZ(360deg);
      }
    }
  
    @keyframes spinner {
      from {
        -moz-transform: rotateY(360deg) rotateX(0deg) rotateZ(0deg));
        -ms-transform: rotateY(0deg) rotateX(0deg) rotateZ(0deg));
        transform: rotateY(0deg) rotateX(0deg) rotateZ(0deg);
      }
  
      to {
        -moz-transform: rotateY(-360deg) rotateX(360deg) rotateZ(360deg);
        -ms-transform: rotateY(360deg) rotateX(360deg) rotateZ(360deg);
        transform: rotateY(360deg) rotateX(360deg) rotateZ(360deg);
      }
    }