/*
colors palette:
  #070707
  #26212c
  #C297B8
  #FDCFF3
  #DE89BE
  #f44336 
  */

  * {
    font-family: monospace;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
  }


  head {
    height: 0vh;
  }


  html, body {
    display: block;
    background-color: #070707;
    color: #FDCFF3;
    margin: 0;
  }

  a:hover {
    font-family: serif;
    color: #FDCFF3;
  }

  .resize {
    display: none;
  }

  #box {
    border-color: #26212c;
    border-style:solid;
    left: 0;
    top: 0;
    width: 25vw;
    height: auto;
    padding: 30px;
    overflow: auto;
    letter-spacing: 0.1vw;
    /* position: fixed; */
    border-radius: 20px;
    margin: 1%;
  }

  #reading {
    top: 15vh;
    width: 25vw;
    height: auto;
    margin: 1%;
    padding: 0.5%;
    overflow: auto;
    letter-spacing: 0.1vw;
    line-height: 1.5;
    border-color: #26212c;
    border-style: solid;
    border-radius: 20px;
  }

  #author {
    font-weight: bold;
    color: #f44336;
  }


  #links {
    font-size: 2em;
    border-style: solid;
    border-color: #26212c;
    border-radius: 20px;
    margin: 2vh 3vw 3vw 2vh;
    padding: 2%;
    overflow: visible;
    width: 30vw;
  }

  #social {
    position: fixed;
    margin: 1%;
    top: 0;
    right: 0;
    padding: 0.5%;
    overflow: hidden;
    white-space: nowrap;
    border-color: #26212c;
    border-style: solid;
    border-radius: 20px;
    font-size: 2vh;
  }

  #social:hover {
    font-family: serif;
    color: #FDCFF3;
  }

  #intro {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #DE89BE;
    text-align: center;
    margin: 0;
    font-size: 5vw;
    -webkit-animation-name: spinner;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 6s;
    animation-name: spinner;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 6s;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }

  /* WebKit and Opera browsers */
  @-webkit-keyframes spinner {
    from {
      -webkit-transform: rotateY(360deg) rotateX(0deg) rotateZ(0deg);
    }

    to {
      -webkit-transform: rotateY(-360deg) rotateX(360deg) rotateZ(360deg);
    }
  }

  @keyframes spinner {
    from {
      -moz-transform: rotateY(360deg) rotateX(0deg) rotateZ(0deg);
      -ms-transform: rotateY(0deg) rotateX(0deg) rotateZ(0deg);
      transform: rotateY(0deg) rotateX(0deg) rotateZ(0deg);
    }

    to {
      -moz-transform: rotateY(-360deg) rotateX(360deg) rotateZ(360deg);
      -ms-transform: rotateY(360deg) rotateX(360deg) rotateZ(360deg);
      transform: rotateY(360deg) rotateX(360deg) rotateZ(360deg);
    }
  }

.icon {
  width: 4vw;
  margin: 0.1vw;
}

a {
  color: #DE89BE;
  width: 100%;
}

a:hover {
  font-family: serif;
  color: #FDCFF3;
}

mark {
  background-color: #26212c;
  color: #FDCFF3;
}

#pagetolast {
  position: fixed;
  bottom: 0;
  margin: 1%;
  width: auto;
}

/* ---- For mobile phones: ---- */

@media (max-width: 700px) {

  #social {
    position: fixed;
    font-size: 3vh;
    top: 0;
    /* overflow: hidden; */
    /* white-space: nowrap; */
    background: #070707;
    padding: 2vh;
    width: 100%;
    border-color: #26212c;
    border-style: solid;
    border-radius: 10%;
  }

  #social:hover {
    font-family: serif;
    color: #FDCFF3;
  }

  .icon {
    width: 10vw;
  }

  #box {
    margin: 12vh 3vw 3vw 2vh;
    padding: 3%;
    border-color: #26212c;
    border-style: solid;
    border-radius: 10%;
    text-align: center;
    font-size: 6vw;
  }

  #reading {
    margin: 2vh 3vw 3vw 2vh;
    border-color: #26212c;
    border-style: solid;
    width: auto;
    height: auto;
    padding: 3%;
    overflow: auto;
    letter-spacing: 0.1vw;
    border-radius: 15%;
    line-height: 1.5;
  }

  #links {
    font-size: 5vw;
    border-color: #26212c;
    border-radius: 10%;
    margin: 2vh 3vw 3vw 2vh;
    padding: 2%;
    overflow: visible;
    background-color: #26212c;
  }

  #author {
    font-weight: bold;
  }

  #pagetolast {
    position: relative;
    bottom: 0;
    margin: 2vh 0 5vh 0;
    text-align: center;
    width: auto;
    display: block;
    font-size: 6vw;
  }
}