/* fira-code-bold */
@font-face {
	font-family: Fira Code;
	font-style: normal;
	font-weight: 700;
	src: local("Fira Code Bold"), local("FiraCode-Bold"), url(fira-code-bold.woff2) format("woff2");
	font-display: auto;
}
/* fira-code-light */
@font-face {
	font-family: Fira Code;
	font-style: normal;
	font-weight: 300;
	src: local("Fira Code Light"), local("FiraCode-Light"), url(fira-code-light.woff2) format("woff2");
	font-display: auto;
}
/* fira-code-medium */
@font-face {
	font-family: Fira Code;
	font-style: normal;
	font-weight: 500;
	src: local("Fira Code Medium"), local("FiraCode-Medium"), url(fira-code-medium.woff2) format("woff2");
	font-display: auto;
}
/* fira-code-regular */
@font-face {
	font-family: Fira Code;
	font-style: normal;
	font-weight: 400;
	src: local("Fira Code Regular"), local("FiraCode-Regular"), url(fira-code-regular.woff2) format("woff2");
	font-display: auto;
}
/* fira-code-retina */
@font-face {
	font-family: Fira Code;
	font-style: normal;
	font-weight: 400;
	src: local("Fira Code Retina"), local("FiraCode-Retina"), url(fira-code-retina.woff2) format("woff2");
	font-display: auto;
}
/* fira-code-semibold */
@font-face {
	font-family: Fira Code;
	font-style: normal;
	font-weight: 400;
	src: local("Fira Code SemiBold"), local("FiraCode-SemiBold"), url(fira-code-semibold.woff2) format("woff2");
	font-display: auto;
}

